body {
  background-color: #29303c;
  font-family: "Montserrat", sans-serif;
  color: #acacac;
  margin: 5%;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  opacity: 0.7;
}

#pic {
  .img-circle {
    border-radius: 50%;
  }
}

ul {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  gap: 15%;

  a {
    text-decoration: none;
  }
}

h3 {
  margin: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5%;
  flex-wrap: wrap;
}

.header-picture {
  margin-left: 10%;
  margin-top: 5%;
}

.header-info {
  margin-top: 8%;
  margin-left: 5%;
}

.experience {
  text-align: center;

 /*  &:hover {
   visibility: hidden
    seems fragile in dev envirenement, will try later in prod.
  } */

  #skills {
    text-align: center;
    margin: 5%;
  }

  h2 {
    padding-top: 2%;
  }

  ul {
    list-style: none;
    flex-direction: column;
    text-align: left;
    list-style: circle;
  }

  li {
    padding-bottom: 2%;
  }
}

.languages {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  margin-top: 5%;
  flex-wrap: wrap;
  position: relative;

  /* @mixin outline-out {
  $outerBorderWidth: 4px;
  $innerBorderWidth: 4px;

  @include hacks();
  position: relative;


    &:before {
      content: "";
      position: absolute;
      border: $primaryColor solid $outerBorderWidth;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include prefixed(transition-duration, 0.3s);
      @include prefixed(transition-property, "top, right, bottom, left");
    }

    &:hover:before,
    &:focus:before,
    &:active:before {
      top: -($outerBorderWidth + $innerBorderWidth);
      right: -($outerBorderWidth + $innerBorderWidth);
      bottom: -($outerBorderWidth + $innerBorderWidth);
      left: -($outerBorderWidth + $innerBorderWidth);
    }
  } */
}

.skills {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  margin-top: 3%;
  flex-wrap: wrap;
}

.title-icon-pair {
  display: flex;
  align-items: center;

  #html {
    color: #dd4b25;
  }

  #css {
    color: #254bdd;
  }

  #js {
    color: #efd81d;
  }

  #git {
    color: #e84e31;
  }
}

.soft-skills {
  margin: 0% 0%;

  h5 {
    margin: 5% 0%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    justify-content: center;

    .header-picture {
      margin-left: unset;
      margin-top: 5%;
    }

    h1 {
      text-align: center;
    }

    h4 {
      text-align: center;
    }

    ul {
      list-style: none;
      display: inline-flex;
      justify-content: center;
      gap: 15%;
      margin-left: 23%;
    }
  }

  .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 2rem;

    h5 {
      margin-top: 2%;
      margin-bottom: 15%;
      margin-right: 3%;
    }

    .title-icon-pair {
      flex-flow: column;
    }
  }

  .soft-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .languages {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 5%;
    flex-wrap: nowrap;
    position: relative;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
