body {
  background-color: #010409;
  font-family: "Montserrat", sans-serif;
  color: rgb(231, 231, 231);
  opacity: 0.9;
  margin: 5%;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
}

ul {
  list-style: none;
  display: inline-flex;
  a {
    text-decoration: none;
  }

  a:hover {
    color: orange;
  }

  a:after {
    color: bisque;
  }
}

h3 {
  margin: 2%;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5%;
}

.header-picture {
  margin-left: 10%;
  margin-top: 5%;
}

.header-info {
  margin-top: 8%;
  margin-left: 5%;
}
