body {
  background-color: #010409;
  font-family: "Montserrat", sans-serif;
  color: rgb(231, 231, 231);
  opacity: 0.9;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
}

ul {
  list-style: none;
  display: inline-flex;
}

.header {
  display: flex;
  justify-content: flex-start;
}

.header-picture {
  margin-left: 10%;
  margin-top: 8%;
}

.header-info {
  margin-top: 8%;
  margin-left: 5%;
}
