
<body>
  <div class="language-btn">
    <a href="/">fr</a>
  </div>
  <div class="header">
    <div class="header-picture">
      <img src="https://avatars.githubusercontent.com/u/88392395?s=400&u=16343b3a4a494d11d3f110ebbf9098932de21877&v=4" alt="Profile picture" id='pic'>
    </div>
    <div class="header-info">
      <h1>Maxime Gourgues</h1>
      <h4>WEB DEVELOPER FRONT-END JUNIOR</h4>
        <ul>
          <li><abbr title="Github"><a class='btn-list' href="https://github.com/Gorrog87" target="_blank"><i class="fab fa-github" class="hvr-icon"></i></a></abbr></li>
          <li style='padding-left: 25%;'><abbr title="Stackoverflow"><a class='btn-list' href="https://stackoverflow.com/users/18511611/maxime-gourgues" target="_blank"><i class="fab fa-stack-overflow"></i></a></abbr></li>
          <li style='padding-left: 25%;'><abbr title="Linkedin"><a class='btn-list' href="https://www.linkedin.com/in/maxime-gourgues/" target="_blank"><i class="fab fa-linkedin-in"></i></a></abbr></li>
          <li style='padding-left: 25%;'><abbr title="Troopl / Portfolio"><a class='btn-list' href="https://www.troopl.com/gourguesmaxime" target="_blank"><i class="fas fa-folder-open"></i></a></abbr></li>
        </ul>
  </div>
    <button class="normalmode" id="button_normal">Back to normal mode</button>
  </div>
  <hr class='line'>
  <h3>PROFESSIONAL TRAINING</h3>
  <hr class='line'>
  <div class='experience'>
    <h2>Le Wagon - Paris</h2>
    <h4>Fullstack Web Developer | January to March 2022</h4>

  <div id='skills'>
    <hr class='short-line'>
    <h4>HARD SKILLS</h4>
    <div class='skills'>
      <div class="title-icon-pair">
        <i class="fab fa-html5" id="html"></i><h5>HTML</h5>
      </div>
        <div class="title-icon-pair">
          <i class="fab fa-css3-alt" id="css"></i><h5>CSS /Bootstrap</h5>
        </div>
        <div class="title-icon-pair">
          <i class="fab fa-js-square" id="js"></i><h5>Javasript</h5>
        </div>
      <div class="title-icon-pair">
        <i class="fas fa-database" id="sql"></i><h5>SQL</h5>
      </div>
      <div class="title-icon-pair">
        <i class="fas fa-gem" id="ruby"></i><h5>Ruby / Ruby on Rails</h5>
      </div>
       <div class="title-icon-pair">
          <i class="fab fa-git-alt" id="git"></i><h5>Git & Github</h5>
        </div>
        <div class="title-icon-pair">
          <i class="fas fa-server" id="heroku"></i><h5>Heroku</h5>
        </div>
    </div>
      <hr class='short-line'>
    <h4>SOFT SKILLS</h4>
      <div class='soft-skills'>
        <div class="title-icon-pair">
          <i class="fas fa-pen-fancy" id="pen"></i><h5>Product mindset</h5>
        </div>
        <div class="title-icon-pair">
          <i class="fas fa-paint-roller"></i><h5>UX / UI basics</h5>
        </div>
        <div class="title-icon-pair">
          <i class="far fa-comments" id="bubble"></i><h5 >Communication & pitch skills</h5>
        </div>
        <div class="title-icon-pair">
          <i class="fas fa-hands-helping" id="hands"></i><h5>Conflict solving</h5>
        </div>
      </div>
  </div>
  </div>
  <hr class='line'>
  <h3>LANGUAGES & HOBBIES</h3>
  <hr class='line'>
  <div class='languages'>
    <div>
      <div class="flag-title-pair">
        <span class="flag-icon flag-icon-fr"></span><h4>French : Native</h4>
      </div>
      <div class="flag-title-pair">
        <span class="flag-icon flag-icon-gb"></span><h4>Anglais : Fluent</h4>
      </div>
      <div class="flag-title-pair" id="esp">
        <span class="flag-icon flag-icon-es"></span><h4>Spanish : Basics</h4>
      </div>
    </div>
    <div>
      <div class="flag-title-pair">
        <i class="fas fa-golf-ball" id="golf"></i><h4>Golf : hcp 3</h4>
      </div>
      <div class="flag-title-pair">
        <i class="fas fa-water" id="water"></i><h4>Scuba diving : Paddy 1</h4>
      </div>
    </div>
    <div>
      <div class="flag-title-pair">
        <i class="fas fa-car-alt" id="car"></i><h4>Driving license</h4>
      </div>
    </div>
  </div>
   <hr class='line' id="experience">
  <h3>EXPERIENCES</h3>
  <hr class='line'>
  <div class='experience'>
    <h2>Deputy head - Decathlon Wagram</h2>
    <h4>16/10/2016 - 30/03/2022</h4>
      <ul>
        <li>French trainer for golf products</li>
        <li>Management of commercial dynamism</li>
        <li>Statistical processing and analysis</li>
        <li>Activation of economic levers</li>
        <li>Merchandising management</li>
        <li>Management of a four-person team</li>
      </ul>
  </div>
    <button class='kawai' class="normalmode" id ='button_kawai' src = 'https://www.youtube.com/watch?v=EErY75MXYXI' <%# onclick="play()" %> >Kawaii mode</button>
    <div class="wrapper-simple-pdf">
      <iframe class ="frame-simple-pdf" src="https://simplePDF.eu/editor" style="border:none" height="720" width="480"></iframe>
    </div>

</body>
  <script data-turbolinks-eval="false">

/* const normal = document.querySelector('.normalmode')
console.log(normal); */

  const kawaiMode = document.querySelector('.kawai');
  kawaiMode.addEventListener("click", pinkBackground);
  /* kawaiMode.addEventListener("click", classicMode); */
  console.log(kawaiMode);

function pinkBackground() {
  document.body.style.backgroundColor = "pink";
  kawaiMode.innerText = "Back to normal mode";
  kawaiMode.style.backgroundColor = '#0D1117';
  alert('ctrl + shift + r to refresh the page :) feature in progress !');
}

/* function classicMode() {
  document.body.style.backgroundColor = "#0D1117";
  kawaiMode.innerText = "Kawai mode";
} */

/* function playSong() {
  return new Audio('/Nyan_cat.mp3').play();       <-----------ici voir comment implémenter un fichier son et le lire
} */
  </script>
