
<body>
  <div class="header">
    <div class="header-picture">
      <img src="https://avatars.githubusercontent.com/u/88392395?s=400&u=16343b3a4a494d11d3f110ebbf9098932de21877&v=4" alt="Profile picture" id='pic'>
    </div>
    <div class="header-info">
      <h1>Maxime Gourgues</h1>
      <h4>Web Developer Fullstack junior</h4>
        <ul>
          <li><a class='btn-list' href="https://github.com/Gorrog87" target="_blank">Github</a></li>
          <li style='padding-left: 15%;'><a class='btn-list' href="https://www.reddit.com/user/Gorrogue" target="_blank">Reddit</a></li>
          <li style='padding-left: 15%;'><a class='btn-list' href="https://stackoverflow.com/users/18511611/maxime-gourgues" target="_blank">Stackoverflow</a></li>
        </ul>
  </div>
    <button class="normalmode" id="button_normal">Back to normal mode</button>
  </div>
  <hr class='line'>
  <h3>Experiences</h3>
  <hr class='line'>
  <div class='experience'>
    <h2>Deputy head - Decathlon Wagram</h2>
    <h4>2016/10/16 - 2022/03/30</h4>
      <ul>
        <li>French trainer on golf products</li>
        <li>Managment of commercial dynamism</li>
        <li>Statistical analysis and processing</li>
        <li>Activation of economic perfomance levelers</li>
        <li>Merchandising managment</li>
        <li>Managment of a four person team </li>
      </ul>
  </div>
  <hr class='line'>
  <h3>Professional trainig</h3>
  <hr class='line'>
  <div class='experience'>
    <h2>Le Wagon - Paris</h2>
    <h4>Fullstack web Developer | class of March 2022</h4>

  <div id='skills'>
    <h4>Hard skills</h4>
    <hr class='short-line'>
    <div class='skills'>
      <div>
        <h5>HTML</h5>
        <h5>CSS /Bootstrap</h5>
        <h5>Javasript</h5>
      </div>
      <div>
        <h5>SQL</h5>
      </div>
      <div>
        <h5>Ruby / Ruby on Rails</h5>
      </div>
      <div>
        <h5>Git & Github</h5>
        <h5>Heroku</h5>
      </div>
    </div>
    <h4>Soft skills</h4>
      <hr class='short-line'>
      <div class='skills'>
        <h5>Product mindset</h5>
        <h5>UX / UI basics</h5>
        <h5>Communication & pitch skills</h5>
      </div>
  </div>
  </div>
  <hr class='line'>
  <h3>Languages & hobbies</h3>
  <hr class='line'>
  <div class='languages'>
    <div>
      <h4>French : Native</h4>
      <h4>English : Fluent</h4>
      <h4>Spanish : Basics</h4>
    </div>
    <div>
      <h4>Golf : hcp 3</h4>
      <h4>Diving : Paddy 1</h4>
    </div>
    <div>
      <h4>Driving license</h4>
    </div>
  </div>
    <button class='kawai'id ='button_kawai' src = 'https://www.youtube.com/watch?v=EErY75MXYXI' <%# onclick="play()" %> >Kawaï mode</button>
</body>
  <script data-turbolinks-eval="false">

/* const normal = document.querySelector('.normalmode')
console.log(normal); */

  const kawaiMode = document.getElementById('button_kawai')
  kawaiMode.addEventListener("click", pinkBackground, classicMode)
  console.log(kawaiMode);

  /* const normalMode = document.getElementById('button_normal')
  normalMode.addEventListener('click', normalBackground) */
/*   console.log(normalBackground);
 */
/* function normalBackground() {
  document.body.style.backgroundColor = "#180A0A"
  } */

function pinkBackground() {
  document.body.style.backgroundColor ="pink";
  kawaiMode.innerText = "Back to normal mode";
}

function classicMode() {
  document.body.style.backgroundColor ="#180A0A";
  kawaiMode.innerText = "Kawai mode";
}


/* if () {
  normal.style.display = ""                      <-------- ici voir comment bien écrire la conditionnelle
  else
  normal.style.display = "none"
} */

/* function playSong() {
  return new Audio('/Nyan_cat.mp3').play();       <-----------ici voir comment implémenter un fichier son et le lire
} */



  </script>
