<div class="header">
  <div class="header-picture">
    <img src="https://avatars.githubusercontent.com/u/88392395?s=400&u=16343b3a4a494d11d3f110ebbf9098932de21877&v=4" alt="Profile picture">
  </div>
  <div class="header-info">
    <h1>Maxime Gourgues</h1>
    <h4>Web Developer Fullstack junior</h4>
    <ul>
      <li><a href="https://github.com/Gorrog87" target="_blank">Github</a></li>
      <li style='padding-left: 15%;'><a href="https://www.reddit.com/user/Gorrogue" target="_blank">Reddit</a></li>
      <li style='padding-left: 15%;'><a href="https://stackoverflow.com/users/18511611/maxime-gourgues" target="_blank">Stackoverflow</a></li>
    </ul>
  </div>
</div>
<hr class='line'>
<h3>Experiences</h3>
<hr class='line'>
<div class='experience'>
  <h2>Deputy head - Decathlon Wagram</h2>
  <h5>2016/10/16 - 2022/03/30</h5>
  <ul>
    <li>French trainer on golf products</li>
    <li>Managment of commercial dynamism</li>
    <li>Statistical analysis and processing</li>
    <li>Activation of economic perfomance levelers</li>
    <li>Merchandising managment</li>
    <li>Managment of a four person team </li>
  </ul>
</div>
