<div class="header">
  <div class="header-picture">
    <img src="https://avatars.githubusercontent.com/u/88392395?s=400&u=16343b3a4a494d11d3f110ebbf9098932de21877&v=4" alt="Profile picture">
  </div>
  <div class="header-info">
    <h1>Maxime Gourgues</h1>
    <h4>Web Developer Fullstack junior</h4>
    <ul>
      <li><i class="fab fa-linkedin-in"></i></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
