
<body>
  <div class="language-btn">
    <a class="flag-icon flag-icon-gb" href="/en" id="english-button"></a>
  </div>
  <div class="header">
    <div class="header-picture">
      <img src="https://avatars.githubusercontent.com/u/88392395?v=4" alt="Profile picture" id='pic'>
    </div>
    <div class="header-info">
      <h1>Maxime Gourgues</h1>
      <h4>DEVELOPPEUR WEB FRONT-END JUNIOR</h4>
        <ul>
          <li><abbr title="Github"><a class='btn-list' href="https://github.com/Gorrog87" target="_blank"><i class="fab fa-github" class="hvr-icon"></i></a></abbr></li>
          <li style='padding-left: 25%;'><abbr title="Stackoverflow"><a class='btn-list' href="https://stackoverflow.com/users/18511611/maxime-gourgues" target="_blank"><i class="fab fa-stack-overflow"></i></a></abbr></li>
          <li style='padding-left: 25%;'><abbr title="Linkedin"><a class='btn-list' href="https://www.linkedin.com/in/maxime-gourgues/" target="_blank"><i class="fab fa-linkedin-in"></i></a></abbr></li>
          <li style='padding-left: 25%;'><abbr title="Troopl / Portfolio"><a class='btn-list' href="https://www.troopl.com/gourguesmaxime" target="_blank"><i class="fas fa-folder-open"></i></a></abbr></li>
        </ul>
  </div>
    <button class="normalmode" id="button_normal">Back to normal mode</button>
  </div>
    <p><em><q> Après avoir exercé pendant cinq ans le métier de vendeur puis de formateur France pour des produits signés, j'ai décidé de faire une reconversion professionnelle. J'ai terminé ma formation de développeur web Fullstack au sein du Wagon Paris en mars 2022. Ces années passées dans le secteur de la vente m'ont permis d'acquérir certaines aptitudes telles que : la capacité à se remettre en question, s'améliorer face aux clients, un relationnel facile, une interaction sociale forte. Ce sont à mon sens des points intéressants pour ce type de métier. La communication doit etre fondamentale, et les relations saines. </q></em></p>
  <hr class='line'>
  <h3>FORMATIONS PROFESSIONNELLES</h3>
  <hr class='line'>
  <div class='experience'>
    <h2>Le Wagon - Paris</h2>
    <h4>Bootcamp Développeur web Fullstack | session de janvier à mars 2022</h4>

  <div>
    <hr class='short-line'>
    <h4>HARD SKILLS</h4>
    <div class='skills'>
      <div class="title-icon-pair">
        <i class="fab fa-html5" id="html"></i><h5>HTML</h5>
      </div>
        <div class="title-icon-pair">
          <i class="fab fa-css3-alt" id="css"></i><h5>CSS /Bootstrap</h5>
        </div>
        <div class="title-icon-pair">
          <i class="fab fa-js-square" id="js"></i><h5>Javascript</h5>
        </div>
      <div class="title-icon-pair">
        <i class="fas fa-database" id="sql"></i><h5>SQL</h5>
      </div>
      <div class="title-icon-pair">
        <i class="fas fa-gem" id="ruby"></i><h5>Ruby / Ruby on Rails</h5>
      </div>
        <div class="title-icon-pair">
          <i class="fab fa-git-alt" id="git"></i><h5>Git & Github</h5>
        </div>
        <div class="title-icon-pair">
          <i class="fas fa-server" id="heroku"></i><h5>Heroku</h5>
        </div>
    </div>
      <hr class='short-line' id="heroku">
    <h4>SOFT SKILLS</h4>
      <div class='soft-skills'>
        <div class="title-icon-pair">
          <i class="fas fa-pen-fancy" id="pen"></i><h5>Cadrer le produit</h5>
        </div>
        <div class="title-icon-pair">
          <i class="fas fa-paint-roller" id="roll"></i><h5>ui/ux</h5>
        </div>
        <div class="title-icon-pair">
          <i class="fas fa-hands-helping" id="hands"></i><h5>Capacité à résoudre les conflits</h5>
        </div>
      </div>
  </div>
  </div>
  <hr class='line'>
  <h3>LANGUES & HOBBIES</h3>
  <hr class='line'>
  <div class='languages'>
    <div>
      <div class="flag-title-pair">
        <span class="flag-icon flag-icon-fr"></span><h4>Français : Maternel</h4>
      </div>
      <div class="flag-title-pair">
        <span class="flag-icon flag-icon-gb"></span><h4>Anglais : Courant</h4>
      </div>
      <div class="flag-title-pair" id="esp">
        <span class="flag-icon flag-icon-es"></span><h4>Espagnol : Basique</h4>
      </div>
    </div>
    <div>
      <div class="flag-title-pair">
        <i class="fas fa-golf-ball" id="golf"></i><h4>Golf : hcp 3</h4>
      </div>
      <div class="flag-title-pair">
        <i class="fas fa-water" id="water"></i><h4>Plongée bouteille : Paddy 1</h4>
      </div>
    </div>
    <div class="flag-title-pair">
      <i class="fas fa-car-alt" id="car"></i><h4>Permis de conduire</h4>
    </div>
  </div>
   <hr class='line' id="experience">
  <h3>EXPERIENCES</h3>
  <hr class='line'>
  <div class='experience'>
    <h2>Responsable adjoint - Decathlon Wagram (Paris)</h2>
    <h4>octobre 2016 - mars 2022</h4>
      <ul>
        <li>Formateur France pour les produits de golf</li>
        <li>Gestion du dynamisme commercial</li>
        <li>Traitement et analyse des statistiques</li>
        <li>Activation des leviers economiques</li>
        <li>Gestion du merchandising</li>
        <li>Management d'une équipe de quatre personnes </li>
      </ul>
  </div>
    <button class='kawai' class="normalmode" id ='button_kawai' src = 'https://www.youtube.com/watch?v=EErY75MXYXI' <%# onclick="play()" %> >Kawaii mode</button>
    <div class="wrapper-simple-pdf">
      <iframe class="frame-simple-pdf" src="https://simplePDF.eu/editor" style="border:none" height="720" width="480"></iframe>
    </div>
</body>
  <script data-turbolinks-eval="false">

/* const normal = document.querySelector('.normalmode')
console.log(normal); */

  const kawaiMode = document.querySelector('.kawai');
  kawaiMode.addEventListener("click", pinkBackground);
  /* kawaiMode.addEventListener("click", classicMode); */
  console.log(kawaiMode);

function pinkBackground() {
  document.body.style.backgroundColor = "pink";
  kawaiMode.innerText = "Back to normal mode";
  kawaiMode.style.backgroundColor = '#0D1117'
  alert('ctrl + shift + r to refresh the page :) feature in progress !');
}

/* function classicMode() {
  document.body.style.backgroundColor = "#0D1117";
  kawaiMode.innerText = "Kawai mode";
} */

/* function playSong() {
  return new Audio('/Nyan_cat.mp3').play();       <-----------ici voir comment implémenter un fichier son et le lire
} */
  </script>
