
<body>
  <div class="header">
    <div class="header-picture">
      <img src="https://avatars.githubusercontent.com/u/88392395?s=400&u=16343b3a4a494d11d3f110ebbf9098932de21877&v=4" alt="Profile picture" id='pic'>
    </div>
    <div class="header-info">
      <h1>Maxime Gourgues</h1>
      <h4>DEVELOPPEUR WEB FRONT-END JUNIOR</h4>
        <ul>
          <li><a class='btn-list' href="https://github.com/Gorrog87" target="_blank"><i class="fab fa-github" class="hvr-icon"></i></a></li>
          <li style='padding-left: 25%;'><a class='btn-list' href="https://stackoverflow.com/users/18511611/maxime-gourgues" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
          <li style='padding-left: 25%;'><a class='btn-list' href="https://www.linkedin.com/in/maxime-gourgues/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          <li style='padding-left: 25%;'><a class='btn-list' href="https://www.troopl.com/gourguesmaxime" target="_blank"><i class="fas fa-folder-open"></i></a></li>
        </ul>
  </div>
    <button class="normalmode" id="button_normal">Back to normal mode</button>
  </div>
  <hr class='line'>
  <h3>FORMATIONS PROFESSIONNELLES</h3>
  <hr class='line'>
  <div class='experience'>
    <h2>Le Wagon - Paris</h2>
    <h4>Développeur web Fullstack | session de Janvier à Mars 2022</h4>

  <div id='skills'>
    <hr class='short-line'>
    <h4>HARD SKILLS</h4>
    <div class='skills'>
      <div class="title-icon-pair">
        <h5>HTML</h5><i class="fab fa-html5" id="html"></i>
      </div>
        <div class="title-icon-pair">
          <h5>CSS /Bootstrap</h5><i class="fab fa-css3-alt" id="css"></i>
        </div>
        <div class="title-icon-pair">
          <h5>Javasript</h5><i class="fab fa-js-square" id="js"></i>
        </div>
      <div class="title-icon-pair">
        <h5>SQL</h5><i class="fas fa-database" id="sql"></i>
      </div>
      <div class="title-icon-pair">
        <h5>Ruby / Ruby on Rails</h5><i class="fas fa-gem" id="ruby"></i>
      </div>
      <div>
        <div class="title-icon-pair">
          <h5>Git & Github</h5><i class="fab fa-git-alt" id="git"></i>
          <h5>Heroku</h5><i class="fas fa-server" id="heroku"></i>
        </div>
      </div>
    </div>
      <hr class='short-line'>
    <h4>SOFT SKILLS</h4>
      <div class='soft-skills'>
        <div class="title-icon-pair">
          <h5>Product mindset</h5><i class="fas fa-pen-fancy" id="pen"></i>
        </div>
        <div class="title-icon-pair">
          <h5>UX / UI basics</h5><i class="fas fa-paint-roller"></i>
        </div>
        <div class="title-icon-pair">
          <h5 >Communication & pitch skills</h5><i class="far fa-comments" id="bubble"></i>
        </div>
        <div class="title-icon-pair">
          <h5>Capacité à résoudre les conflits</h5><i class="fas fa-hands-helping" id="hands"></i>
        </div>
      </div>
  </div>
  </div>
  <hr class='line'>
  <h3>LANGUES & HOBBIES</h3>
  <hr class='line'>
  <div class='languages'>
    <div>
     <span class="fi fi-fr"></span><h4>Français : Maternel</h4>
      <h4>Anglais : Courant</h4>
      <h4>Espagnol : fondamentaux</h4>
    </div>
    <div>
      <h4>Golf : hcp 3</h4>
      <h4>Plongée bouteille : Paddy 1</h4>
    </div>
    <div>
      <h4>Permis de conduire</h4>
    </div>
  </div>
   <hr class='line'>
  <h3>EXPERIENCES</h3>
  <hr class='line'>
  <div class='experience'>
    <h2>Responsable adjoint - Decathlon Wagram</h2>
    <h4>16/10/2016 - 30/03/2022</h4>
      <ul>
        <li>Formateur france pour les produits de golf</li>
        <li>Gestion du dynamisme commercial</li>
        <li>Statistical analysis and processing</li>
        <li>Activation des leviers economiques</li>
        <li>Gestion du merchandising</li>
        <li>Managment d'une equipe de quatre personnes </li>
      </ul>
  </div>
    <button class='kawai' class="normalmode" id ='button_kawai' src = 'https://www.youtube.com/watch?v=EErY75MXYXI' <%# onclick="play()" %> >Kawaï mode</button>
</body>
  <script data-turbolinks-eval="false">

/* const normal = document.querySelector('.normalmode')
console.log(normal); */

  const kawaiMode = document.querySelector('.kawai');
  kawaiMode.addEventListener("click", pinkBackground);
  /* kawaiMode.addEventListener("click", classicMode); */
  console.log(kawaiMode);

function pinkBackground() {
  document.body.style.backgroundColor = "pink";
  kawaiMode.innerText = "Back to normal mode";
  kawaiMode.style.backgroundColor = '#0D1117'
  alert('ctrl + shift + r to refresh the page :) feature in progress !');
}

/* function classicMode() {
  document.body.style.backgroundColor = "#0D1117";
  kawaiMode.innerText = "Kawai mode";
} */

/* function playSong() {
  return new Audio('/Nyan_cat.mp3').play();       <-----------ici voir comment implémenter un fichier son et le lire
} */
  </script>
