.kawai {
  padding: 5%;
  padding: 2%;
  background-color: #e78ea9;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px;
  text-decoration: none;
  color: #e78ea9;
}

.kawai:hover {
  color: white;
}

.btn-list {
  color: #9ae66e;
}

a:visited {
  opacity: 0.3;
}
